<div class="calculator-container" data-grimoire="imprint">
  <h2>Imprint chapter</h2>

  <div class="selectors">
    <label>
      <span>Current Level:</span>

      <select
        #selectCurrentLevel
        [value]="currentLevel()"
        (change)="setCurrentLevel(selectCurrentLevel.value)"
      >
        @for (cost of costs(); track cost.level) {
          <option [value]="cost.level">
            {{ cost.level }}
          </option>
        }
      </select>
    </label>

    <label>
      <span>Target Level:</span>

      <select
        #selectTargetLevel
        [value]="targetLevel()"
        (change)="setTargetLevel(selectTargetLevel.value)"
      >
        @for (cost of costs(); track cost.level) {
          <option [value]="cost.level">
            {{ cost.level }}
          </option>
        }
      </select>
    </label>

    <label>
      <span>Liberation Percentage:</span>

      <input
        #inputLiberationPercentage
        [value]="liberationPercentage()"
        (change)="setLiberationPercentage(inputLiberationPercentage.value)"
        type="number"
        inputmode="numeric"
        pattern="[0-9]*"
      />
    </label>
  </div>

  @if (upgradeSteps().length > 0 && liberationPercentage() > 0 && liberationPercentage() <= 100) {
    <div class="results">
      <table>
        <thead>
          <tr>
            <th>Upgrade</th>
            <th>Cost</th>
            <th>Stats</th>
          </tr>
        </thead>

        <tbody>
          @for (step of upgradeSteps(); track step.level) {
            <tr>
              <td>{{ step.level - 1 }} → {{ step.level }}</td>

              <td>
                <div class="grimoire-cost">
                  <img
                    src="assets/grimoire-essence.png"
                    alt="grimoire essence"
                    class="grimoire-essence-icon"
                  />
                  {{ step.essence | number }}
                </div>

                <div class="grimoire-cost">
                  <img
                    src="assets/imprint-essence.png"
                    alt="imprint essence"
                    class="imprint-essence-icon"
                  />
                  {{ step.imprint | number }}
                </div>
              </td>

              <td>
                <div class="grimoire-stat">
                  <img src="assets/atk-icon.png" alt="grimoire atk" class="grimoire-essence-icon" />
                  {{ stats().atk | number }}
                </div>
                <div class="grimoire-stat">
                  <img src="assets/hp-icon.png" alt="grimoire hp" class="grimoire-essence-icon" />
                  {{ stats().hp | number }}
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="total">
      <span>Total: </span>
      <div class="values">
        <strong>
          {{ totalCost().essencePicks | number }}
          <img
            src="assets/grimoire-essence.png"
            alt="grimoire essence"
            class="grimoire-essence-icon"
          />
          event picks
        </strong>
        <strong>
          {{ totalCost().imprintPicks | number }}
          <img
            src="assets/imprint-essence.png"
            alt="imprint essence"
            class="imprint-essence-icon"
          />
          event picks
        </strong>
        <strong>
          <img
            src="assets/grimoire-essence.png"
            alt="grimoire essence"
            class="grimoire-essence-icon"
          />
          {{ totalCost().essence | number }}
          <img
            src="assets/imprint-essence.png"
            alt="imprint essence"
            class="imprint-essence-icon"
          />
          {{ totalCost().imprint | number }}
        </strong>
        <strong>
          <img src="assets/atk-icon.png" alt="grimoire atk" class="grimoire-essence-icon" />
          {{ totalStats().atk | number }}
        </strong>
        <strong>
          <img src="assets/hp-icon.png" alt="grimoire hp" class="grimoire-essence-icon" />
          {{ totalStats().hp | number }}
        </strong>
      </div>
    </div>
  } @else {
    <p class="no-results">Please select valid values.</p>
  }
</div>
