{
  "plugins": ["prettier-plugin-organize-attributes"],
  "attributeGroups": [
    "^class$",
    "^id$",
    "^name$",
    "^#",
    "^\\*",
    "^\\(",
    "^\\[",
    "^@",
    "^src$|^href$",
    "^type$|^value$"
  ],
  "singleQuote": true,
  "semi": true,
  "printWidth": 100,
  "trailingComma": "all"
}
