@use '../styles/theme';

nav {
  align-items: center;
  display: flex;
  flex-shrink: 4;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;

  > div {
    align-items: center;
    border-radius: 10px;

    // color: #fcef7c;
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bolder;
    justify-content: space-evenly;
    max-height: 200px;
    max-width: 150px;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.enabling-chapter {
  background-color: #45ffff;
}

.imprint-chapter {
  background-color: #9f50fc;
}

.image-container {
  align-items: center;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.footer {
  color: #a5c5c8;
  font-size: 13px;
  line-height: 1.5;
  margin-top: 25px;
  opacity: 0.8;

  strong {
    color: #9cdcdc;
  }

  code {
    background: rgb(127 209 209 / 10%);
    border-radius: 6px;
    color: #a7e3e3;
    font-family: monospace;
    padding: 2px 6px;
  }
}
