@use './styles/theme';

@font-face {
  font-display: swap;
  font-family: Cinzel;
  src: url('fonts/Cinzel-Regular.woff2') format('woff2');
}

body {
  background: linear-gradient(180deg, #1e2a30 0%, #0f171b 100%);
  box-sizing: border-box;
  color: #e1e8ea;
  display: block;
  font-family: Cinzel, serif;
  min-height: 100vh;
  padding: 40px 20px;
  text-align: center;
}

h2 {
  color: var(--text-main);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}
